{% extends "base.html" %}

{% load static %}

{% block content %}

<div><h4>Upload file to make predictions:</h4></div>
<form enctype="multipart/form-data" id=file-form form-url="{% url 'v1:upload' %}">
    {% csrf_token %}
    <input type="file" name="file", id="file-field">
    <button type="submit">Upload</button>
  </form>


<div id=success-div results-url="{% url 'v1:results' pk=0 %}"=>
</div>

{% endblock %}

{% block javascript %}
<script src="{% static 'js/file_form_submit.js' %}"></script>   
{% endblock %}
